<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="delay_time; URL=new_website_url" />
    <meta charset="UTF-8">
    <title>Decision Tree</title>
</head>
<h1><strong><u>Decision Tree Business Tool</u>-----------------------------------------------------------------------------------------------------------------------------------------------</strong></h1>
<body>
    <p>&nbsp</p>
    <center>
    <font size="+2">Input the requested values under: </font>
    </center>
    <br/>
    {% if submitted %}
<center>
    Click here to see your Decision Tree!
    <br/>
    <a href="/decisiontree">
        <button>Here</button>
    </a>

</center>


    {% else %}
<center>
    <form action="" method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit">
    </form>
</center>
    {% endif %}
</body>
</html>