<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FF Diagram</title>
</head>
<body>

{% block content %}
{% for ForceField in ff_diagram %}


<strong><font size="+1">Pros:</font></strong>
<br>
{% if ForceField.proNumber4 > 0 %}
&nbsp &nbsp Level 4: {{ ForceField.proLevel4 }}
<br>
{% endif %}
{% if ForceField.proNumber3 > 0 %}
&nbsp &nbsp Level 3: {{ ForceField.proLevel3 }}
<br>
{% endif %}
{% if ForceField.proNumber2 > 0 %}
&nbsp &nbsp Level 2: {{ ForceField.proLevel2 }}
<br>
{% endif %}
{% if ForceField.proNumber1 > 0 %}
&nbsp &nbsp Level 1: {{ ForceField.proLevel1 }}
<br>
{% endif %}
<br>
<strong><font size="+1">Cons:</font></strong>
<br>
{% if ForceField.conNumber4 > 0 %}
&nbsp &nbsp Level 4: {{ ForceField.conLevel4 }}
<br>
{% endif %}
{% if ForceField.conNumber3 > 0 %}
&nbsp &nbsp Level 3: {{ ForceField.conLevel3 }}
<br>
{% endif %}
{% if ForceField.conNumber2 > 0 %}
&nbsp &nbsp Level 2: {{ ForceField.conLevel2 }}
<br>
{% endif %}
{% if ForceField.conNumber1 > 0 %}
&nbsp &nbsp Level 1: {{ ForceField.conLevel1 }}
<br>
{% endif %}

<center>
    {% if ForceField.proNumber4 == 1 %}
    ------------>
    <br>
    {% endif %}
    {% if ForceField.proNumber4 == 2 %}
    ------------>
    <br>
    ------------>
    <br>
    {% endif %}
    {% if ForceField.proNumber4 == 3 %}
    ------------>
    <br>
    ------------>
    <br>
    ------------>
    <br>
    {% endif %}
    {% if ForceField.proNumber4 == 4 %}
    ------------>
    <br>
    ------------>
    <br>
    ------------>
    <br>
    ------------>
    <br>
    {% endif %}


    {% if ForceField.proNumber3 == 1 %}
    --------->
    <br>
    {% endif %}
    {% if ForceField.proNumber3 == 2 %}
    --------->
    <br>
    --------->
    <br>
    {% endif %}
    {% if ForceField.proNumber3 == 3 %}
    --------->
    <br>
    --------->
    <br>
    --------->
    <br>
    {% endif %}
    {% if ForceField.proNumber3 == 4 %}
    --------->
    <br>
    --------->
    <br>
    --------->
    <br>
    --------->
    <br>
    {% endif %}


    {% if ForceField.proNumber2 == 1 %}
    ------>
    <br>
    {% endif %}
    {% if ForceField.proNumber2 == 2 %}
    ------>
    <br>
    ------>
    <br>
    {% endif %}
    {% if ForceField.proNumber2 == 3 %}
    ------>
    <br>
    ------>
    <br>
    ------>
    <br>
    {% endif %}
    {% if ForceField.proNumber2 == 4 %}
    ------>
    <br>
    ------>
    <br>
    ------>
    <br>
    ------>
    <br>
    {% endif %}


    {% if ForceField.proNumber1 == 1 %}
    --->
    <br>
    {% endif %}
    {% if ForceField.proNumber1 == 2 %}
    --->
    <br>
    --->
    <br>
    {% endif %}
    {% if ForceField.proNumber1 == 3 %}
    --->
    <br>
    --->
    <br>
    --->
    <br>
    {% endif %}
    {% if ForceField.proNumber1 == 4 %}
    --->
    <br>
    --->
    <br>
    --->
    <br>
    --->
    <br>
    {% endif %}
</center>



{% endfor %}


{% endblock %}

</body>
</html>