<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BT4U Home Page</title>
</head>
<center><h1><font size="+5">Welcome to BT4U Home Page!</font></h1></center>
<h1>Choose from the options of various business tools to utilize:</h1>
<body>
<font size="+2">Break-even Chart:----</font>
    <a href="/breakeven">
        <button>Here</button>
    </a>
    <p>&nbsp</p>

<font size="+2">Decision Tree:----</font>
    <a href="/decision">
        <button>Here</button>
    </a>
    <p>&nbsp</p>

<font size="+2">Force Field Analysis:----</font>
    <a href="/forcefield">
        <button>Here</button>
    </a>
    <p>&nbsp</p>

<font size="+2">Graphing Functions:----</font>
    <a href="/graphing">
        <button>Here</button>
    </a>
    <p>&nbsp</p>


</body>
</html>